<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="text-center">
			<h2><%= current_user.email %>'s current ToDo's</h2>
		</div>

		<div class='js-items'>
			<%= render partial: 'items/item', collection: @items %>
		</div></br></br>

		<h3>Create new ToDo</h3>

		<div class='new-item'>
			<%= render 'items/form' %>
		</div>
	</div>
</div>
